@font-face {
  font-family: "SarabunPSK";
  src: url("~/assets/fonts/THSarabun.ttf");
}

@font-face {
  font-family: "Sarabun";
  src: url("~/assets/fonts/Sarabun-Regular.ttf");
}

@font-face {
  font-family: "Mitr";
  src: url("~/assets/fonts/Mitr-Regular.ttf");
}

@font-face {
  font-family: "Prompt";
  src: url("~/assets/fonts/Prompt-Regular.ttf");
}

// * {
//   font-family: "SarabunPSK" !important;
// }

// h1,
// h2 {
//   font-family: "Mitr" !important;
// }

// span {
//   font-family: "Sarabun" !important;
// }